<h1>There are your tools for portfolio <%=@portfolio.name_p%></h1>
<table>
    <thead>
        <tr>
            <th width ="35%" align="center">Name</th>
            <th width ="20%" align="center">Currency</th>
            <th width ="20%" align="center">Count</th>
            <th width ="20%" align="center">Price</th>
        </tr>
    </thead>
    <tbody
    <% for @tool in Tool.where(p_id:@portfolio.p_id) %>
    <tr align="center">
    
        <td width="35%"><%= @tool.name %></td>
        <td width ="20%"><%=Currency.find_by(c_id:@tool.c_id).curr%> </td>
        <td width ="20%"><%=@tool.count%> </td>
        <td width ="20%"><%=@tool.price%> </td>
        <td width ="20%"> <%=link_to 'Delete',tool_path(@tool)%> </td>
        

    </tr>
    <%end%>

    </tbody>
</table>
<div>
<%=link_to 'Back','/profile/portfolios' %>
</div>
