<%- if flash[:error] %>
  <div>
    <%-flash[:error].each do |error| %>
      <p class="error_message">
        <%= error %>
      </p>
    <% end %>
  </div>
<% end %>
<div class="container">
    <div class="screen">
        <div class="screen__content">
<%= form_for :user, class: 'login' do |f| %>

<div class="login__field">
<i class="login__icon fas fa-user"></i>
<%= label_tag :name, 'Username' %>
<%= f.text_field :name ,class: "login__input"%>
</div>

<div class="login__field">
<i class="login__icon fas fa-user"></i>
<%= label_tag :email, 'Email' %>
<%= f.email_field :email,class: "login__input" %>
</div>

<div class="login__field">
<i class="login__icon fas fa-user"></i>
<%= label_tag :password, 'Password' %>
<%= f.password_field :password,class: "login__input" %>
</div>

<div class="login__field">
<i class="login__icon fas fa-user"></i>
<%= label_tag :password_confirmation,'Password confirmation' %>
<%= f.password_field :password_confirmation,class: "login__input" %>
</div>


<button class="button login__submit">
<span class="button__text">Register</span>
<i class="button__icon fas fa-chevron-right"></i>
</button>	

<% end %>
</div>
	<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>				
    </div>
        </div>